@charset "UTF-8";
/* CSS Document */

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	background-color:#B9D22D;
	background-image: linear-gradient(to bottom, #B9D22D, #B7D00D);
	border-radius: 6px;
	box-shadow: 1px 1px 4px rbga( 0, 0, 0, 0.5);
	border: 0;
	color: #000000;
	font-weight: bold;
	
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-color:#5d8432;
	background-image: linear-gradient(to bottom, #5d8432, #3b6210);
}