@charset "UTF-8";
/* CSS Document */

.media {
	overflow: hidden;  /*Forces parent to wrap around it's floated children*/
	
	
}

.media-img {
	float: left;
	margin: 0 10px 0 0 ;
}

.media-body {  /*New positioning context- no more qwrap around*/
	overflow: hidden;
	
}

.media-img-reversed {
	float: right;
	margin: 0 0 0 10px;
}

.media-body {
	overflow: hidden;
}

.media-img-stacked {
	float: none;
	margin:0;
	
	
}
