@charset "UTF-8";
/* CSS Document */

html {
	font: normal 100%/1.5 "Maison Mono Light", Consolas, monospace; /*16px/24px */

}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1.5rem;
	
}

.yotta {
	font-size:2.28rem;
	line-height: 1.1357; /*Formula*/
	
}

.zetta {
	font-size:2.027rem;
	line-height: 1.4798;
	
}

h1, .exa {
	font-size:1.802rem;
	line-height: 1.6648;
	
}

h2, .peta {
	font-size:1.602rem;
	line-height: 1.8729;
	
}

h3, .tera {
	font-size:1.424rem;
	line-height: 1.0535;
	
}

h4, .giga {
	font-size:1.266rem;
	line-height: 1.1852;
	
}

h5, .mega {
	font-size:1.125rem;
	line-height: 1.3333;
	
}

h6, .kilo {
	font-size:1rem;
	line-height: 1.5000;
	
}

small, .milli {
	font-size:0.889rem;
	line-height: 1.6875;
}

.micro {
	font-size:0.79rem;
	line-height: 1.8984;
}

h1, h2, h3, h4, h5, h6,
.brand {
	font-family: Helvetica,sans-serif;
	color: #EE20C3;
	
}

.brand-color {
	color: #EE20C3;
	
}

.brand-family {
	font-family: Helvetica, sans-serif;
	
}

::selection {
	background-color: #EE20C3;
	color: #fff;
	
}

a, 
a:link {
	color:#CAD621;
	text-decoration: none;
	border-bottom: 0.1em solid rgba(100,200,100 0.5);
	transition: all 250ms linear;
}

a:visited {
	color: #1E32E1;
	border-bottom-color: rgba (100,150,100,0.5);
}

a:hover, 
a:focus,
a:active, {
	color:#5C740F;
	border-bottom-color: #5C740F;
}

ul {
	list-style-type: none;
}

ul li {
	position: relative;


ul li:before {
	content: "☯";
	color:#EC19BD;
	position:absolute;
	left: 2.1em;
	
}

